<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blue_arrow_await_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,455},{110,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,36},{110,48}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>blue_arrow_await_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,376},{120,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,21},{120,78}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>blue_arrow_await_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,380},{118,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,11},{118,98}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>blue_arrow_await_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,198},{120,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{120,98}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>blue_arrow_await_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,103},{120,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{120,98}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>blue_arrow_await_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,103},{120,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{120,98}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>blue_arrow_await_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,99},{120,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{120,98}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>blue_arrow_await_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,99},{120,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{120,98}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>blue_arrow_await_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,0},{120,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{120,102}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>blue_arrow_await_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{120,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{120,102}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>blue_arrow_await_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,0},{120,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{120,98}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>blue_arrow_await_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,202},{120,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{120,90}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>blue_arrow_await_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,0},{120,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{120,98}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>blue_arrow_await_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,380},{120,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,15},{120,90}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>blue_arrow_await_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,289},{120,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{120,90}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>blue_arrow_await_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,198},{120,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{120,90}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>blue_arrow_await_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,202},{120,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{120,86}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>blue_arrow_await_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,297},{120,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{120,82}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>blue_arrow_await_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,293},{120,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{120,82}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>blue_arrow_await_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,297},{120,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{120,82}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>blue_arrow_await.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:NULL:1/1$</string>
            <key>textureFileName</key>
            <string>blue_arrow_await.png</string>
        </dict>
    </dict>
</plist>
