<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>double_mark_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,303},{69,112}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,24},{69,112}}</string>
                <key>sourceSize</key>
                <string>{93,136}</string>
            </dict>
            <key>double_mark_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,163},{65,120}}</string>
                <key>offset</key>
                <string>{-6,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,16},{65,120}}</string>
                <key>sourceSize</key>
                <string>{93,136}</string>
            </dict>
            <key>double_mark_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,361},{79,110}}</string>
                <key>offset</key>
                <string>{6,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,26},{79,110}}</string>
                <key>sourceSize</key>
                <string>{93,136}</string>
            </dict>
            <key>double_mark_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,287},{73,116}}</string>
                <key>offset</key>
                <string>{4,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,20},{73,116}}</string>
                <key>sourceSize</key>
                <string>{93,136}</string>
            </dict>
            <key>double_mark_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,163},{59,122}}</string>
                <key>offset</key>
                <string>{-8,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,14},{59,122}}</string>
                <key>sourceSize</key>
                <string>{93,136}</string>
            </dict>
            <key>double_mark_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,229},{73,116}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,20},{73,116}}</string>
                <key>sourceSize</key>
                <string>{93,136}</string>
            </dict>
            <key>double_mark_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,223},{63,118}}</string>
                <key>offset</key>
                <string>{-4,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,18},{63,118}}</string>
                <key>sourceSize</key>
                <string>{93,136}</string>
            </dict>
            <key>double_mark_move.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{204,162}}</string>
                <key>offset</key>
                <string>{-21,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,162}}</string>
                <key>sourceSize</key>
                <string>{246,162}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>double_mark.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:NULL:1/1$</string>
            <key>textureFileName</key>
            <string>double_mark.png</string>
        </dict>
    </dict>
</plist>
