<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ice_skill_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,169},{113,103}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,103}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>ice_skill_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,204},{113,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,113}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>ice_skill_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,287},{113,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,113}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>ice_skill_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,204},{113,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,113}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>ice_skill_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,476},{79,73}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,23},{79,73}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>ice_skill_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,430},{79,73}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,23},{79,73}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>ice_skill_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,466},{79,73}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,23},{79,73}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>ice_skill_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,402},{79,73}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,23},{79,73}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>ice_skill_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,392},{79,73}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,23},{79,73}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>ice_skill_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,318},{79,73}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,23},{79,73}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>ice_skill_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,55},{113,103}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,103}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>ice_skill_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,318},{111,113}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,113}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>ice_skill_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,283},{99,113}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{99,113}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>ice_skill_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,401},{91,111}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{91,111}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>ice_skill_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,318},{83,91}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,8},{83,91}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>ice_skill_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,493},{79,97}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,0},{79,97}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>ice_skill_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,397},{99,111}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{99,111}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>ice_skill_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,173},{113,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,113}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>ice_skill_boom.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,0},{203,215}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,4},{203,215}}</string>
                <key>sourceSize</key>
                <string>{219,219}</string>
            </dict>
            <key>ice_skill_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,55},{119,117}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,117}}</string>
                <key>sourceSize</key>
                <string>{121,117}</string>
            </dict>
            <key>ice_skill_shot.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{224,54}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{224,54}}</string>
                <key>sourceSize</key>
                <string>{228,54}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ice_skill.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:NULL:1/1$</string>
            <key>textureFileName</key>
            <string>ice_skill.png</string>
        </dict>
    </dict>
</plist>
