<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>loading_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,1688},{155,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,155}}</string>
                <key>sourceSize</key>
                <string>{155,155}</string>
            </dict>
            <key>loading_bubble_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,1310},{58,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,111}}</string>
                <key>sourceSize</key>
                <string>{58,111}</string>
            </dict>
            <key>loading_bubble_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,965},{86,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,104}}</string>
                <key>sourceSize</key>
                <string>{86,104}</string>
            </dict>
            <key>loading_bubble_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,1422},{41,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,35}}</string>
                <key>sourceSize</key>
                <string>{41,35}</string>
            </dict>
            <key>loading_bubble_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,0},{55,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,34}}</string>
                <key>sourceSize</key>
                <string>{55,34}</string>
            </dict>
            <key>loading_bubble_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,1079},{121,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,68}}</string>
                <key>sourceSize</key>
                <string>{121,68}</string>
            </dict>
            <key>loading_bubble_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,153},{66,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,40}}</string>
                <key>sourceSize</key>
                <string>{66,40}</string>
            </dict>
            <key>loading_bubble_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,0},{152,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,47}}</string>
                <key>sourceSize</key>
                <string>{152,47}</string>
            </dict>
            <key>loading_fb_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,701},{608,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{608,157}}</string>
                <key>sourceSize</key>
                <string>{608,157}</string>
            </dict>
            <key>loading_fb_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,1079},{608,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{608,157}}</string>
                <key>sourceSize</key>
                <string>{608,157}</string>
            </dict>
            <key>loading_fire.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,768},{310,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,199}}</string>
                <key>sourceSize</key>
                <string>{310,199}</string>
            </dict>
            <key>loading_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,1794},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>loading_later_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,701},{263,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,97}}</string>
                <key>sourceSize</key>
                <string>{263,97}</string>
            </dict>
            <key>loading_later_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,1310},{263,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,97}}</string>
                <key>sourceSize</key>
                <string>{263,97}</string>
            </dict>
            <key>loading_logo_clear.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1169},{690,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{690,192}}</string>
                <key>sourceSize</key>
                <string>{690,192}</string>
            </dict>
            <key>loading_logo_vague_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,0},{767,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{767,179}}</string>
                <key>sourceSize</key>
                <string>{767,179}</string>
            </dict>
            <key>loading_logo_vague_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,0},{700,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,192}}</string>
                <key>sourceSize</key>
                <string>{700,192}</string>
            </dict>
            <key>loading_pro.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,0},{1160,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1160,17}}</string>
                <key>sourceSize</key>
                <string>{1160,17}</string>
            </dict>
            <key>loading_pro_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{1168,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1168,27}}</string>
                <key>sourceSize</key>
                <string>{1168,27}</string>
            </dict>
            <key>loading_purple.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,1574},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>loading_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1860},{161,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,161}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>loading_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,1695},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>loading.png</string>
            <key>size</key>
            <string>{512,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:NULL:1/1$</string>
            <key>textureFileName</key>
            <string>loading.png</string>
        </dict>
    </dict>
</plist>
