<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>play_back_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,1243},{115,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,116}}</string>
                <key>sourceSize</key>
                <string>{115,116}</string>
            </dict>
            <key>play_back_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,1126},{115,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,116}}</string>
                <key>sourceSize</key>
                <string>{115,116}</string>
            </dict>
            <key>play_ball_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,996},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,129}}</string>
                <key>sourceSize</key>
                <string>{129,129}</string>
            </dict>
            <key>play_ball_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,866},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,129}}</string>
                <key>sourceSize</key>
                <string>{129,129}</string>
            </dict>
            <key>play_ball_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,736},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,129}}</string>
                <key>sourceSize</key>
                <string>{129,129}</string>
            </dict>
            <key>play_ball_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,606},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,129}}</string>
                <key>sourceSize</key>
                <string>{129,129}</string>
            </dict>
            <key>play_ball_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,476},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,129}}</string>
                <key>sourceSize</key>
                <string>{129,129}</string>
            </dict>
            <key>play_ball_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,0},{190,714}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,714}}</string>
                <key>sourceSize</key>
                <string>{190,714}</string>
            </dict>
            <key>play_bingo.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,1287},{532,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{532,181}}</string>
                <key>sourceSize</key>
                <string>{532,181}</string>
            </dict>
            <key>play_bingo_vaglue.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,715},{571,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{571,191}}</string>
                <key>sourceSize</key>
                <string>{571,191}</string>
            </dict>
            <key>play_chips.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,314},{159,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,161}}</string>
                <key>sourceSize</key>
                <string>{159,161}</string>
            </dict>
            <key>play_chips_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,1820},{222,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,182}}</string>
                <key>sourceSize</key>
                <string>{222,182}</string>
            </dict>
            <key>play_over.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,0},{313,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,133}}</string>
                <key>sourceSize</key>
                <string>{313,133}</string>
            </dict>
            <key>play_round.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1601},{423,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{423,133}}</string>
                <key>sourceSize</key>
                <string>{423,133}</string>
            </dict>
            <key>play_talk.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,1360},{76,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,65}}</string>
                <key>sourceSize</key>
                <string>{76,65}</string>
            </dict>
            <key>play_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{1600,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1600,160}}</string>
                <key>sourceSize</key>
                <string>{1600,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>play.png</string>
            <key>size</key>
            <string>{512,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:NULL:1/1$</string>
            <key>textureFileName</key>
            <string>play.png</string>
        </dict>
    </dict>
</plist>
