<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>red_arrow_await_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,111},{110,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,36},{110,48}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>red_arrow_await_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,333},{110,80}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{110,80}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>red_arrow_await_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,222},{110,84}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{110,84}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>red_arrow_await_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,111},{110,78}}</string>
                <key>offset</key>
                <string>{-1,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{110,78}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>red_arrow_await_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,111},{110,84}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{110,84}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>red_arrow_await_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,222},{110,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,36},{110,48}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>red_arrow_await_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,333},{110,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,36},{110,48}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>red_arrow_await_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,333},{110,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,36},{110,48}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>red_arrow_await_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,111},{110,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,36},{110,48}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>red_arrow_await_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,111},{110,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,36},{110,48}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>red_arrow_await_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,444},{110,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,36},{110,48}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>red_arrow_await_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,0},{110,58}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,26},{110,58}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>red_arrow_await_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,444},{110,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,36},{110,48}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>red_arrow_await_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,222},{110,70}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,14},{110,70}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>red_arrow_await_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,222},{110,74}}</string>
                <key>offset</key>
                <string>{-1,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,10},{110,74}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>red_arrow_await_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,333},{110,80}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{110,80}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>red_arrow_await_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,0},{110,84}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{110,84}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>red_arrow_await_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,0},{110,84}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{110,84}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>red_arrow_await_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,0},{110,84}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{110,84}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>red_arrow_await_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{110,84}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{110,84}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>red_arrow_await.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:NULL:1/1$</string>
            <key>textureFileName</key>
            <string>red_arrow_await.png</string>
        </dict>
    </dict>
</plist>
