<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>red_arrow_attack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,953},{66,68}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,53},{66,68}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>red_arrow_attack_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,0},{162,160}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{162,160}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>red_arrow_attack_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,322},{160,160}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{160,160}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>red_arrow_attack_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,481},{158,160}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,7},{158,160}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>red_arrow_attack_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,483},{158,160}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,7},{158,160}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>red_arrow_attack_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{164,160}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{164,160}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>red_arrow_attack_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,0},{162,160}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{162,160}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>red_arrow_attack_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,161},{160,160}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{160,160}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>red_arrow_attack_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,640},{160,156}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{160,156}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>red_arrow_attack_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,890},{90,90}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,42},{90,90}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>red_arrow_attack_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,777},{116,112}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,31},{116,112}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>red_arrow_attack_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,642},{136,134}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,20},{136,134}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>red_arrow_attack_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,161},{160,160}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{160,160}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>red_arrow_attack_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,161},{160,160}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{160,160}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>red_arrow_attack_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,481},{158,160}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,7},{158,160}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>red_arrow_attack_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,322},{158,160}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,7},{158,160}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>red_arrow_attack_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,322},{158,160}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,7},{158,160}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>red_arrow_move.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,890},{115,91}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{115,91}}</string>
                <key>sourceSize</key>
                <string>{129,95}</string>
            </dict>
            <key>red_arrow_trigger_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,797},{44,77}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{44,77}}</string>
                <key>sourceSize</key>
                <string>{62,77}</string>
            </dict>
            <key>red_arrow_trigger_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,951},{58,73}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{58,73}}</string>
                <key>sourceSize</key>
                <string>{62,77}</string>
            </dict>
            <key>red_arrow_trigger_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,797},{54,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{54,77}}</string>
                <key>sourceSize</key>
                <string>{62,77}</string>
            </dict>
            <key>red_arrow_trigger_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,875},{48,77}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{48,77}}</string>
                <key>sourceSize</key>
                <string>{62,77}</string>
            </dict>
            <key>red_arrow_trigger_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,797},{58,75}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{58,75}}</string>
                <key>sourceSize</key>
                <string>{62,77}</string>
            </dict>
            <key>red_arrow_trigger_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,797},{52,77}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{52,77}}</string>
                <key>sourceSize</key>
                <string>{62,77}</string>
            </dict>
            <key>red_arrow_trigger_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,875},{58,75}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{58,75}}</string>
                <key>sourceSize</key>
                <string>{62,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>red_arrow_attack.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:NULL:1/1$</string>
            <key>textureFileName</key>
            <string>red_arrow_attack.png</string>
        </dict>
    </dict>
</plist>
