<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>rocket_await_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,204},{95,99}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{95,99}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>rocket_await_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,0},{91,97}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{91,97}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>rocket_await_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,0},{85,87}}</string>
                <key>offset</key>
                <string>{-5,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{85,87}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>rocket_await_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,0},{89,87}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{89,87}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>rocket_await_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,378},{89,89}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{89,89}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>rocket_await_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,286},{91,91}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{91,91}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>rocket_await_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,192},{93,91}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,9},{93,91}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>rocket_await_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,0},{95,93}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,9},{95,93}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>rocket_await_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,98},{95,95}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,8},{95,95}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>rocket_await_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,402},{95,97}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,8},{95,97}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>rocket_await_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,404},{95,99}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,8},{95,99}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>rocket_await_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,304},{99,99}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{99,99}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>rocket_await_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,404},{95,99}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{95,99}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>rocket_await_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,102},{101,101}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{101,101}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>rocket_await_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{101,101}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{101,101}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>rocket_await_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,204},{99,99}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{99,99}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>rocket_await_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,304},{95,97}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{95,97}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>rocket_await_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,290},{89,95}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{89,95}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>rocket_await_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,96},{89,95}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{89,95}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>rocket_await_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,194},{89,95}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{89,95}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>rocket_await.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:NULL:1/1$</string>
            <key>textureFileName</key>
            <string>rocket_await.png</string>
        </dict>
    </dict>
</plist>
