<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shop_100k.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1153},{431,633}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{431,633}}</string>
                <key>sourceSize</key>
                <string>{431,633}</string>
            </dict>
            <key>shop_10k.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,1153},{264,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,305}}</string>
                <key>sourceSize</key>
                <string>{264,305}</string>
            </dict>
            <key>shop_1m.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,1153},{264,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,305}}</string>
                <key>sourceSize</key>
                <string>{264,305}</string>
            </dict>
            <key>shop_2k.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,1459},{263,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,305}}</string>
                <key>sourceSize</key>
                <string>{263,305}</string>
            </dict>
            <key>shop_30k.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,1418},{263,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,305}}</string>
                <key>sourceSize</key>
                <string>{263,305}</string>
            </dict>
            <key>shop_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{1152,802}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1152,802}}</string>
                <key>sourceSize</key>
                <string>{1152,802}</string>
            </dict>
            <key>shop_hot.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,0},{119,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,129}}</string>
                <key>sourceSize</key>
                <string>{119,129}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shop.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:NULL:1/1$</string>
            <key>textureFileName</key>
            <string>shop.png</string>
        </dict>
    </dict>
</plist>
