<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_add_mark.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,471},{26,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,25}}</string>
                <key>sourceSize</key>
                <string>{26,25}</string>
            </dict>
            <key>skill_add_sandyclock.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,71},{54,80}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,9},{54,80}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>skill_blue_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,360},{110,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,36},{110,48}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>skill_boom.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,128},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>skill_boom_senior.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,239},{66,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,70}}</string>
                <key>sourceSize</key>
                <string>{66,70}</string>
            </dict>
            <key>skill_boomerang.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,352},{99,77}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{99,77}}</string>
                <key>sourceSize</key>
                <string>{101,101}</string>
            </dict>
            <key>skill_double_mark.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,0},{86,80}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{86,80}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>skill_double_mark_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,229},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>skill_earthquake.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,128},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>skill_fireball.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,249},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>skill_ice.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,87},{78,74}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,12},{78,74}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>skill_ice_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,324},{92,88}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,5},{92,88}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>skill_lightning.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{127,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,127}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>skill_red_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,249},{110,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,36},{110,48}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>skill_reduce_mark.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,498},{24,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,14}}</string>
                <key>sourceSize</key>
                <string>{24,14}</string>
            </dict>
            <key>skill_reduce_sandyclock.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,452},{54,80}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,9},{54,80}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>skill_rocket.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,0},{95,99}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{95,99}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>skill_rocket_senior.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,0},{87,81}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,3},{87,81}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>skill_sandyclock_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,417},{68,92}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{68,92}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>skill_stone_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,448},{54,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,22},{54,64}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>skill_stone_1_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,0},{70,80}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,14},{70,80}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>skill_stone_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,452},{58,60}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,24},{58,60}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>skill_stone_2_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,166},{72,74}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,17},{72,74}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>skill_stop.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,126},{74,74}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,12},{74,74}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>skill_stop_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,100},{88,88}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{88,88}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>skill_trample.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,352},{91,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,16},{91,95}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill2.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:NULL:1/1$</string>
            <key>textureFileName</key>
            <string>skill2.png</string>
        </dict>
    </dict>
</plist>
