<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stone_attack_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,99},{42,40}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,34},{42,40}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>stone_attack_2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,111},{100,100}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{100,100}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>stone_attack_2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>stone_attack_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,198},{54,50}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,28},{54,50}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>stone_attack_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,368},{66,60}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,23},{66,60}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>stone_attack_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,291},{76,72}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,17},{76,72}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>stone_attack_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,291},{88,80}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,12},{88,80}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>stone_attack_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,198},{100,92}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{100,92}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>stone_attack_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,0},{106,98}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{106,98}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>stone_attack_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,99},{98,104}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{98,104}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>stone_attack_2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,212},{94,92}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{94,92}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stone_attack_2.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:NULL:1/1$</string>
            <key>textureFileName</key>
            <string>stone_attack_2.png</string>
        </dict>
    </dict>
</plist>
