<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bingo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1601,466},{460,78}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{460,78}}</string>
                <key>sourceSize</key>
                <string>{462,78}</string>
            </dict>
            <key>card_bg_other.png</key>
            <dict>
                <key>frame</key>
                <string>{{1601,0},{372,425}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{372,425}}</string>
                <key>sourceSize</key>
                <string>{376,431}</string>
            </dict>
            <key>card_bg_own.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,927},{645,718}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{645,718}}</string>
                <key>sourceSize</key>
                <string>{657,722}</string>
            </dict>
            <key>grid_boom_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1880,373},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>grid_boom_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1787,373},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>grid_other_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1973,440},{68,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{68,66}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>grid_other_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1973,373},{68,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{68,66}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>grid_own_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1694,373},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>grid_own_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1601,373},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>themebg.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{1600,900}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1600,900}}</string>
                <key>sourceSize</key>
                <string>{1600,900}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>themeadvanced.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:NULL:1/1$</string>
            <key>textureFileName</key>
            <string>themeadvanced.png</string>
        </dict>
    </dict>
</plist>
