<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bingo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1601,470},{482,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{482,79}}</string>
                <key>sourceSize</key>
                <string>{482,79}</string>
            </dict>
            <key>card_bg_other.png</key>
            <dict>
                <key>frame</key>
                <string>{{1601,0},{375,428}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{375,428}}</string>
                <key>sourceSize</key>
                <string>{377,432}</string>
            </dict>
            <key>card_bg_own.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,953},{739,756}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{739,756}}</string>
                <key>sourceSize</key>
                <string>{741,760}</string>
            </dict>
            <key>grid_boom_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1883,376},{93,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,93}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>grid_boom_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1789,376},{93,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,93}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>grid_other_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1977,444},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>grid_other_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1977,376},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>grid_own_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1695,376},{93,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,93}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>grid_own_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1601,376},{93,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,93}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>themebg.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{1600,900}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1600,900}}</string>
                <key>sourceSize</key>
                <string>{1600,900}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>themeamazing.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:NULL:1/1$</string>
            <key>textureFileName</key>
            <string>themeamazing.png</string>
        </dict>
    </dict>
</plist>
