<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>theme_bonus.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,471},{263,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,55}}</string>
                <key>sourceSize</key>
                <string>{263,55}</string>
            </dict>
            <key>theme_bonus_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,236},{483,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{483,117}}</string>
                <key>sourceSize</key>
                <string>{483,117}</string>
            </dict>
            <key>theme_chip.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,795},{81,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,82}}</string>
                <key>sourceSize</key>
                <string>{81,82}</string>
            </dict>
            <key>theme_chip_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,735},{250,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,70}}</string>
                <key>sourceSize</key>
                <string>{250,70}</string>
            </dict>
            <key>theme_chips.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,471},{159,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,161}}</string>
                <key>sourceSize</key>
                <string>{159,161}</string>
            </dict>
            <key>theme_collect.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,735},{239,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,60}}</string>
                <key>sourceSize</key>
                <string>{239,60}</string>
            </dict>
            <key>theme_collect_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,118},{483,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{483,117}}</string>
                <key>sourceSize</key>
                <string>{483,117}</string>
            </dict>
            <key>theme_collect_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{483,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{483,117}}</string>
                <key>sourceSize</key>
                <string>{483,117}</string>
            </dict>
            <key>theme_info_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,354},{371,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{371,116}}</string>
                <key>sourceSize</key>
                <string>{371,116}</string>
            </dict>
            <key>theme_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,991},{29,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,41}}</string>
                <key>sourceSize</key>
                <string>{29,41}</string>
            </dict>
            <key>theme_prize_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,471},{519,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{519,152}}</string>
                <key>sourceSize</key>
                <string>{519,152}</string>
            </dict>
            <key>theme_raise_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,713},{82,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,81}}</string>
                <key>sourceSize</key>
                <string>{82,81}</string>
            </dict>
            <key>theme_raise_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,631},{82,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,81}}</string>
                <key>sourceSize</key>
                <string>{82,81}</string>
            </dict>
            <key>theme_set_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,470},{116,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,115}}</string>
                <key>sourceSize</key>
                <string>{116,115}</string>
            </dict>
            <key>theme_set_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,354},{116,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,115}}</string>
                <key>sourceSize</key>
                <string>{116,115}</string>
            </dict>
            <key>theme_skill_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,702},{115,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,116}}</string>
                <key>sourceSize</key>
                <string>{115,116}</string>
            </dict>
            <key>theme_skill_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,586},{115,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,116}}</string>
                <key>sourceSize</key>
                <string>{115,116}</string>
            </dict>
            <key>theme_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,877},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>theme_xp.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,140},{139,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,18}}</string>
                <key>sourceSize</key>
                <string>{139,18}</string>
            </dict>
            <key>theme_xp_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,0},{139,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,18}}</string>
                <key>sourceSize</key>
                <string>{139,18}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>theme.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:NULL:1/1$</string>
            <key>textureFileName</key>
            <string>theme.png</string>
        </dict>
    </dict>
</plist>
