<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bingo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1601,364},{548,116}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{548,116}}</string>
                <key>sourceSize</key>
                <string>{550,116}</string>
            </dict>
            <key>card_bg_other.png</key>
            <dict>
                <key>frame</key>
                <string>{{1601,0},{363,416}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{363,416}}</string>
                <key>sourceSize</key>
                <string>{365,416}</string>
            </dict>
            <key>card_bg_own.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,913},{545,611}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{545,611}}</string>
                <key>sourceSize</key>
                <string>{545,611}</string>
            </dict>
            <key>grid_boom_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1812,364},{93,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,93}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>grid_other_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1906,364},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>grid_own_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1718,364},{93,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,93}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>themebg.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{1600,900}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1600,900}}</string>
                <key>sourceSize</key>
                <string>{1600,900}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>themebasic.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:NULL:1/1$</string>
            <key>textureFileName</key>
            <string>themebasic.png</string>
        </dict>
    </dict>
</plist>
