<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>card_bg_other.png</key>
            <dict>
                <key>frame</key>
                <string>{{1601,0},{369,423}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{369,423}}</string>
                <key>sourceSize</key>
                <string>{369,423}</string>
            </dict>
            <key>card_bg_own.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,901},{558,673}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{558,673}}</string>
                <key>sourceSize</key>
                <string>{558,677}</string>
            </dict>
            <key>grid_boom_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1694,370},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>grid_other_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1787,370},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>grid_own_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1601,370},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>themebg.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{1600,900}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1600,900}}</string>
                <key>sourceSize</key>
                <string>{1600,900}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>themenewbie.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:NULL:1/1$</string>
            <key>textureFileName</key>
            <string>themenewbie.png</string>
        </dict>
    </dict>
</plist>
