<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>trample_attack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,102},{62,44}}</string>
                <key>offset</key>
                <string>{-2,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,1},{62,44}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>trample_attack_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,194},{96,98}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{96,98}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>trample_attack_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,53},{62,48}}</string>
                <key>offset</key>
                <string>{-2,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,1},{62,48}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>trample_attack_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,0},{62,52}}</string>
                <key>offset</key>
                <string>{-2,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,1},{62,52}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>trample_attack_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,270},{78,86}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,1},{78,86}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>trample_attack_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,357},{92,92}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{92,92}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>trample_attack_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,220},{96,92}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{96,92}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>trample_attack_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,213},{96,92}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{96,92}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>trample_attack_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,114},{98,98}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{98,98}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>trample_attack_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,196},{94,98}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{94,98}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>trample_await_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,357},{91,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,16},{91,95}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>trample_await_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,98},{95,101}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,12},{95,101}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>trample_await_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,0},{97,105}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,10},{97,105}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>trample_await_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,0},{97,105}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,10},{97,105}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>trample_await_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,0},{101,107}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,9},{101,107}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>trample_await_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,0},{101,107}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,9},{101,107}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>trample_await_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,108},{113,111}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{113,111}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>trample_await_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,108},{113,111}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{113,111}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>trample_await_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,0},{113,113}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{113,113}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>trample_await_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,0},{113,113}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{113,113}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>trample_await_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{119,107}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,11},{119,107}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>trample_await_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,357},{91,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,16},{91,95}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>trample_await_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{119,107}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,11},{119,107}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>trample_await_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,194},{75,79}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,23},{75,79}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>trample_await_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,194},{75,79}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,23},{75,79}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>trample_await_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,357},{73,77}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,24},{73,77}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>trample_await_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,357},{73,77}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,24},{73,77}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>trample_await_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,431},{69,75}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,25},{69,75}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>trample_await_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,431},{69,75}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,25},{69,75}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>trample_await_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,357},{91,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,16},{91,95}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>trample_await_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,357},{91,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,16},{91,95}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>trample_await_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,357},{91,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,16},{91,95}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>trample_await_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,357},{91,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,16},{91,95}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>trample_await_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,102},{93,99}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,13},{93,99}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>trample_await_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,102},{93,99}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,13},{93,99}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>trample_await_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,98},{95,101}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,12},{95,101}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>trample_await.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:NULL:1/1$</string>
            <key>textureFileName</key>
            <string>trample_await.png</string>
        </dict>
    </dict>
</plist>
